@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", sans-serif;
}

body {
  background-image: url(../multimedia/pattern.svg);
  background-attachment: fixed;
}

/* FONTS */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.7rem;
}

.sec-izq a {
  text-decoration: none;
  color: #B1B1B1;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.sec-izq .item-izquierdo {
  margin: 0 1rem;
}
.sec-izq a:hover {
  color: #555555;
}

.sec-der {
  display: flex;
  flex-direction: row;
  color: #B1B1B1;
  font-weight: 600;
}
.sec-der .item-derecha {
  margin: 0 1rem;
}
.sec-der a {
  text-decoration: none;
  color: #b1b1b1;
  font-size: 0.9rem;
  margin: 0 1rem;
}
.sec-der a:hover {
  color: #555555;
}

hr {
  margin: 1.3rem 19rem;
  border-color: #B1B1B1;
}

.home {
  width: 100%;
}
.home .imagen {
  width: 100%;
}
.home .imagen .cont-saludos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .imagen .cont-saludos img {
  width: 160px;
  height: 160px;
  margin: 4rem 0 2.5rem 0;
}
.home .imagen .cont-saludos .texto-saludo {
  color: #b1b1b1;
}
.home .imagen .cont-saludos .title {
  font-size: 4rem;
  margin: 0 25rem;
  text-align: center;
  margin-top: 4rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #dadada, #1e1d24);
}
.home .imagen .cont-saludos .btn-talk {
  display: flex;
  margin: 4rem 0;
  padding: 1rem 4rem;
  border: solid 1px #b1b1b1;
  background-color: #1A1A1A;
  color: #b1b1b1;
  border-radius: 0.2rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.home .imagen .cont-saludos .btn-talk .btn-image {
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 1rem;
}

.home .imagen .cont-saludos .btn-talk:hover {
  background-color: #555555;
  transform: scale(1.2);
  color: #1A1A1A;
  font-weight: 600;
}

.sec-kpis {
  width: 100%;
  background-color: #161616;
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sec-kpis .kpi-logo {
  display: inline-block;
  width: 6rem;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.sec-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 0;
}
.sec-about .text-about {
  color: #666666;
  text-align: center;
  font-size: 2rem;
}

.sec-contacto {
  width: 100%;
  margin: 6rem 0;
  text-align: center;
}
.sec-contacto .contacto-text {
  width: 100%;
}
.sec-contacto .contacto-text .texto {
  color: #666666;
  font-size: 3rem;
  margin: 5rem 0;
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #dadada, #1e1d24);
}
.sec-contacto .contacto-text .btn-talk {
  margin: 1rem 0;
  padding: 1rem 4rem;
  border: solid 1px #b1b1b1;
  background-color: #1A1A1A;
  color: #b1b1b1;
  border-radius: 0.2rem;
  cursor: pointer;
  text-decoration: none;
}

.sec-contacto .contacto-text .btn-talk:hover {
  background-color: #555555;
  transform: scale(1.2);
  color: #1A1A1A;
  font-weight: 600;
}

.sec-footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}
.sec-footer .footer-izq {
  color: #b1b1b1;
}
.sec-footer .footer-der {
  display: flex;
  color: #b1b1b1;
}
.sec-footer .footer-der a {
  text-decoration: none;
  color: #b1b1b1;
  margin: 0 1rem;
  font-weight: 600;
}
.sec-footer .footer-der a:hover {
  color: #706a8f;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sec-izq {
    margin-bottom: 1rem;
  }
  hr {
    display: none;
  }
  .item-izquierdo {
    display: none;
  }
  .texto-contacto {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #979797;
    background-color: rgba(197, 197, 197, 0.1098039216);
    border-radius: 12px;
    border: 1px solid #979797;
  }
  .home .imagen .cont-saludos .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .sec-kpis {
    display: none;
  }
  .sec-footer .footer-izq p {
    display: none;
  }
  .sec-footer .footer-der .item-footer a {
    display: flex;
    justify-content: center !important;
  }
  .sec-about .text-about {
    margin: 0 2rem;
  }
  .sec-contacto .contacto-text {
    width: 100%;
  }
  .sec-contacto .contacto-text .texto {
    font-size: 2.5rem;
    padding: 0 1rem;
  }
}
@media (max-width: 1440px) {
  hr {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
