.sec-about{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10rem 0;
    .text-about{
        color: #666666;
        text-align: center;
        font-size: 2rem;
    }
}

.sec-contacto{
    width: 100%;
    margin: 6rem 0;
    text-align: center;
    .contacto-text{
        width: 100%;
        .texto{
            color: #666666;
            font-size: 2rem;
            margin: 2rem 0;
        }
        .btn-talk{
            margin: 1rem 0;
            padding: 1rem 4rem;
            border: solid 1px #b1b1b1;
            background-color: #1A1A1A;
            color: #b1b1b1;
            border-radius: 0.2rem;
            cursor: pointer;
        }
    }
}