.sec-about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem 0;
    .text-about{
        color: #666666;
        text-align: center;
        font-size: 2rem;
    }
}

.sec-contacto{
    width: 100%;
    margin: 6rem 0;
    text-align: center;
    .contacto-text{
        width: 100%;
        .texto{
            color: #666666;
            font-size: 3rem;
            margin: 5rem 0;
            font-weight: 600;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-image: linear-gradient(to right, #b1b1b1, #5f578b);
        }
        .btn-talk{
            margin: 1rem 0;
            padding: 1rem 4rem;
            border: solid 1px #b1b1b1;
            background-color: #1A1A1A;
            color: #b1b1b1;
            border-radius: 0.2rem;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.sec-contacto{
    .contacto-text{
        .btn-talk:hover{
            background-color: #666666;
            transform: scale(1.2);
            color: #1A1A1A;
            font-weight: 600;
        }
    }
}