.sec-contacto{
    .contacto-text{
        .btn-talk:hover{
            background-color: #555555;
            transform: scale(1.2);
            color: #1A1A1A;
            font-weight: 600;
        }
    }
}