.home {
  width: 100%;
  .imagen {
    width: 100%;
    .cont-saludos {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 160px;
        height: 160px;
        margin: 4rem 0 2.5rem 0;
      }
      .texto-saludo {
        color: #b1b1b1;
      }
      .title {
        font-size: 4rem;
        margin: 0 25rem;
        text-align: center;
        margin-top: 4rem;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, #dadada, #474453);
      }
      .btn-talk {
        display: flex;
        margin: 4rem 0;
        padding: 1rem 4rem;
        border: none;
        background-color: #1a1a1a;
        color: #b1b1b1;
        border-radius: 0.4rem;
        cursor: pointer;
        text-decoration: none;
        .btn-image {
          width: 1rem;
          height: 1rem;
          margin: 0 0 0 1rem;
        }
        transition: all 0.3s ease-out;
      }
    }
  }
}

.home {
  .imagen {
    .cont-saludos {
      .btn-talk:hover {
        transform: scale(1.2);
        color: #b1b1b1;
      }
    }
  }
}
