.texto {
  color: #666666;
  font-size: 3rem;
  margin: 5rem 0;
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #dadada, #474453);
}
