@media (max-width: 768px) {
  body {
    background-image: url(../multimedia/pattern3.svg);
    background-attachment: fixed;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;
  }

  .sec-izq {
    margin-bottom: 1rem;
  }

  hr {
    display: none;
  }

  .item-izquierdo {
    display: none;
  }

  .texto-contacto {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #979797;
    background-color: #c5c5c51c;
    border-radius: 12px;
    border: 1px solid #979797;
  }

  .home {
    .imagen {
      .cont-saludos {
        .title {
          font-size: 3rem;
          margin-top: 2.5rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

  .sec-about {
    margin: 4rem 0;
    .text-about {
      font-size: 1.5rem;
    }
  }

  .sec-kpis {
    display: none;
  }

  .kpi-celular {
    width: 100%;
    margin: 2rem 0;
    background-color: #181523;
    display: flex;
    flex-direction: column;
    align-items: center;
    .celular {
      margin: 0.5rem 0.5rem;
      .celular-logo {
        display: inline-block;
        width: 4rem;
      }
    }
  }

  .sec-footer {
    display: flex;
    flex-direction: column;
    .footer-izq {
      p {
        display: none;
      }
    }
    .footer-der {
      justify-content: center;
    }

    .btn-talk {
      margin: 1rem;
      text-align: center;
    }

    .footer-der {
      .item-footer {
        a {
          display: flex;
          justify-content: center !important;
        }
      }
    }
  }
  .sec-about {
    .text-about {
      margin: 0 2rem;
    }
  }
  .sec-contacto {
    .contacto-text {
      width: 100%;
      .texto {
        font-size: 2.5rem;
        padding: 0 1rem;
      }
    }
  }
  .sec-tarjetas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .tarjetas {
      flex-direction: column;
    }
  }
}

@media (max-width: 1440px) {
  hr {
    display: none;
  }
}
