.nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.7rem;

}

.sec-izq{
    a{
        text-decoration: none;
        color: #B1B1B1;
        font-weight: 600;
        display: flex;
        align-items: center;
        font-size: 0.9rem;
    }
    .item-izquierdo{
        margin: 0 1rem;
         
    }
    a:hover{
        color: #555555;
    }
}

.sec-der{
    display: flex;
    flex-direction: row;
    color: #B1B1B1;
    font-weight: 600;
        .item-derecha{
            margin: 0 1rem;
        }
        a{
            text-decoration: none;
            color: #b1b1b1;
            font-size: 0.9rem;
            margin: 0 1rem;
        }
        a:hover{
            color: #555555;
        }
}

hr{
   margin: 1.3rem 19rem;
   border-color: #B1B1B1;
}